<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Clutch">
        <div class="container tab-content">
            <app-gq-clutch></app-gq-clutch>
        </div>
    </mat-tab>
    <mat-tab label="Quest">
        <div class="container tab-content">
            <app-gq-quest></app-gq-quest>
        </div>
    </mat-tab>
    <mat-tab label="Rules">
        <div class="container tab-content">
            <app-gq-rules></app-gq-rules>
        </div>
    </mat-tab>
    <mat-tab label="Lore">
        <div class="container tab-content">
            <app-gq-lore></app-gq-lore>
        </div>
    </mat-tab>
</mat-tab-group>